<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Message d'erreur</title>
     {% load static %}
<link href="{% static 'css\erreur.css' %}" rel="stylesheet">
<link href="{% static 'css\erreur.css' %}" rel="stylesheet">
</head>
<body>
<div id="wb_Text1" style="position:absolute;left:358px;top:380px;width:685px;height:23px;z-index:0;">
<span style="color:#0000FF;font-family:Arial;font-size:20px;">Mot de passe incorrect !!! Contacter responsable du site ………….</span></div>
</body>
</html>