<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
</style>
</head>
<body>

<h2>Liste des dossiers reçus</h2>

<table>
  <tr>
    <th style="width:10%">Réference</th>
    <th>Date</th>
    <th>Personne concernée</th>
    <th>Objet</th>
    <th>Recevable</th>
    <th>Rejet</th>
  </tr>
  <tr>
    <td>R001/2021</td>
    <td>09/02/2021</td>
    <td>Rondrotiana Rabenirina (MG)</td>
    <td>Paiements Hetra 2020</td>
     <td><i class="fa fa-remove"></i></td>
    <td><i class="fa fa-check"></i></td>
  </tr>
   <tr>
    <td>R002/2021</td>
    <td>25/02/2021</td>
    <td>Nivo Hantaniaina RASOANIRINA</td>
    <td>Données sur les TVA et IRSA troisième trimestre 2019</td>
     <td><i class="fa fa-check"></i></td>
     <td><i class="fa fa-remove"></i></td>
  </tr>



 </table>

</body>
</html>
