<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}
</style>
</head>
<body>

<h2>Nombre des dossiers en cours de traitement par date</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Chef de division</th>
    <th>Centre de vérification</th>
    <th>Centre de suivi et archivage</th>
    <th>Centre de traitement</th>

  </tr>
  <tr>
    <td>25/02/2021</td>
    <td>2</td>
    <td>0</td>
    <td>1</td>
    <td>1</td>
  </tr>
   <tr>
    <td>10/03/2021</td>
     <td>0</td>
     <td>1</td>
     <td>3</td>
     <td>4</td>
  </tr>



 </table>

</body>
</html>
